.gamePage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.header h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    white-space: nowrap;
}

.header button {
    border: solid 1px #ffffff24;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    letter-spacing: -2px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.gamePage button:hover {
    background-color: #171717;
    border: solid 1px #ffffff00;
}

.gamePage button:active {
    background-color: #262626;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}