* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: calc(45% + .8vmin);
  overflow-x: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-image: linear-gradient(to right, #000, #200032, #000, #00203b, #000);
}

:any-link {
  color: #fff;
  text-decoration: none;
  all: unset;
}